:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *:before, *:after { box-sizing: inherit; }

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#app {
  width: inherit;
  min-height: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol { margin: 0; }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  padding: .25rem;
  border-radius: .5rem;
  border: .1rem solid transparent;
  background-color: #eee;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover { border-color: #646cff; }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* *** *** *** App *** *** *** */
:root {
  --w-mobile: 375px;
  --w-desktop: 1440px;
  --c-white: hsl(0, 0%, 100%);
  --c-light-pink: hsl(275, 100%, 97%);
  --c-grayish-purple: hsl(292, 16%, 49%);
  --c-dark-purple: hsl(292, 42%, 14%);
}

#app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 8.91rem;
  font-family: "Work Sans", sans-serif; /* 400, 600, 700 */
  font-weight: 400;
  color: var(--c-dark-purple);
  background-color: var(--c-light-pink);
}

.app-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 232px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  #app { 
    padding-block: 9.5rem 9.3rem; 
    background-size: 100% 36.25%;
  }
  .app-bg { height: 287px; }
}

button { border: none; }
